BETTER_AUTH_SECRET  =jfMQgAVGZC5CHh9SfGMMM9MpxPRLlCSb
BETTER_AUTH_URL     =http://localhost:3000
FRONTEND_URL        =http://localhost:3000
DATABASE_URL        =postgresql://postgres:postgres@localhost:5432/keyflow
REDIS_URL           =redis://localhost:6379
MONGODB_URL         =mongodb://localhost:27017
LOG_LEVEL           =info
NODE_ENV            =development